body{

background:#edf2f7;

}

.card{

border:none;

border-radius:20px;

transition:.3s;

overflow:hidden;

}

.card:hover{

transform:translateY(-8px);

box-shadow:0 15px 35px rgba(0,0,0,.2);

}

.card img{

height:250px;

object-fit:cover;

}

.card-title{

font-weight:bold;

}

.btn{

border-radius:10px;

}

.navbar{

padding:15px;

}

.modal-content{

border-radius:20px;

}

#search{

border-radius:15px;

}
